@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('/assets/fonts/Inter-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('/assets/fonts/Inter-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'OptimusPrinceps';
  src: local('OptimusPrinceps'), url('/assets/fonts/OptimusPrinceps.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'OptimusPrinceps';
  src: local('OptimusPrinceps'), url('/assets/fonts/OptimusPrincepsSemiBold.ttf');
  font-weight: 600;
}
.games_page * {
  margin: 0;
  padding: 0;
}
.games_page body {
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  font-family: OptimusPrinceps, 'Inter', Courier, monospace;
  background: #06020f;
  user-select: none;
}
.games_page a {
  text-decoration: none;
  color: #fff;
}
.games_page a:visited {
  color: #fff;
}
.games_page .butt {
  z-index: 10;
  position: fixed;
  top: 70px;
  left: 100px;
  width: 30px;
  height: 30px;
  background: url(/assets/img/note.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.games_page .series,
.games_page .ser_number {
  display: flex;
  align-items: center;
  justify-content: center;
}
.games_page .element-animation {
  opacity: 0;
}
.games_page .element-animation.element-show {
  opacity: 1;
  transition: all 6s;
}
.games_page main .gameList {
  background: #06020f;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.games_page main .gameList .cont {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.games_page main .gameList .cont::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  box-shadow: inset 0 0 500px #000;
}
.games_page main .gameList .cont::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/assets/img/light.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -65px;
  animation: light 3s ease-in-out infinite;
}
.games_page main .gameList .cont .logo {
  z-index: 7;
  top: 40px;
  width: 100%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: lighter;
  text-shadow: 1px 1px 2px rgba(255, 204, 0, 0.49), 0 0 1em rgba(126, 213, 255, 0.6), 0 0 0.2em rgba(88, 185, 255, 0.55);
}
.games_page main .gameList .cont .series {
  z-index: 2;
  top: 140px;
  position: absolute;
}
.games_page main .gameList .cont .series:hover {
  cursor: pointer;
}
.games_page main .gameList .cont .series .block {
  margin: 0 20px;
  width: 400px;
  height: 600px;
}
.games_page main .gameList .cont .series .block .img {
  height: 80%;
  background: no-repeat;
  background-size: 100%;
  opacity: 0.6;
  transition: all 1s;
}
.games_page main .gameList .cont .series .block .img:hover {
  opacity: 1;
}
.games_page main .gameList .cont .series .block .ser_number {
  height: 20%;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
.games_page main .gameList .cont .series .block .ser_number h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  transition: all 8s;
}
.games_page main .gameList .cont .series .block .ser_number h4 {
  margin-bottom: 40px;
  transition: all 10s;
}
.games_page main .gameList .video {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
@keyframes light {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.15;
  }
}
